#dichvudn {
    color: #0A5A89;
}

#dsdn li {
    width: 90%;
}

.link-dn {
    color: black;
    text-decoration: none;
}

.link-dn:hover {
    color: #ccc;
}

.tieudedn {
    color: #0A5A89;
}

.my-5 {
    border: 1px solid #0A5A89;
    border-radius: 10px;
}